<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
	<h:form id="frm">
		<h:panelGrid columns="2">
			<f:facet name="header">
				<p:outputLabel value="Dados do Proprietário" />
			</f:facet>
			<p:outputLabel value="CPF" />
			<p:inputText value="#{proprietarioMB.proprietario.cpfProprietario}" />

			<p:outputLabel value="Nome" />
			<p:inputText value="#{proprietarioMB.proprietario.nome}" />
		</h:panelGrid>
		<h:panelGrid columns="6">
			<f:facet name="header">
				<p:outputLabel value="Telefones" />
			</f:facet>
			<p:outputLabel value="DDD" />
			<p:inputText value="#{proprietarioMB.telefone.ddd}" />

			<p:outputLabel value="Número" />
			<p:inputText value="#{proprietarioMB.telefone.numero}" />

			<p:outputLabel value="Tipo Telefone" />
	    	<p:selectOneMenu value="#{proprietarioMB.telefone.tipoTelefone}">
	    		<f:selectItems value="#{proprietarioMB.tiposTelefone}" var="tpTelefone" 
	    		itemValue="#{tpTelefone}" itemLabel="#{tpTelefone.descricaoTipoTelefone}"/>
	    		<f:converter converterId="tipoTelefoneConverter"/>
	    	</p:selectOneMenu>

			<p:commandButton value="Adicionar" action="#{proprietarioMB.adicionarTelefone()}" update="frm"/>
		</h:panelGrid>
		<h:panelGrid>
	    	<p:dataTable value="#{proprietarioMB.proprietario.telefones}" var="item">
				<p:column headerText="DDD">
					<p:outputLabel value="#{item.ddd}" />
				</p:column>
				<p:column headerText="Número">
					<p:outputLabel value="#{item.numero}" />
				</p:column>
				<p:column headerText="Tipo Telefone">
					<p:outputLabel value="#{item.tipoTelefone.descricaoTipoTelefone}" />
				</p:column>
				<p:column headerText="Editar">
					<p:commandButton icon="ui-icon-pencil" action="#{proprietarioMB.editarTelefone(item)}" update="frm"/>
				</p:column>
				<p:column headerText="Excluir">
					<p:commandButton icon="ui-icon-close" action="#{proprietarioMB.excluirTelefone(item)}" update="frm"/>
				</p:column>
			</p:dataTable>
		</h:panelGrid>

		<p:commandButton value="Salvar" action="#{proprietarioMB.salvarProprietario()}" />
		<p:commandButton value="Voltar" action="#{proprietarioMB.voltarLista()}" />
	</h:form>
</h:body>
</html>