<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
    <h:form id="frm">
    	<p:growl id="messages" showDetail="true"/>
    	<p:dataTable value="#{proprietarioMB.proprietarios}" var="item"	>
			<f:facet name="header">
				<p:outputLabel value="Lista de Proprietarios" />
			</f:facet>
			<p:column headerText="CPF">
				<p:outputLabel value="#{item.cpfProprietario}" />
			</p:column>
			<p:column headerText="Nome">
				<p:outputLabel value="#{item.nome}" />
			</p:column>
			<p:column headerText="Editar">
				<p:commandButton icon="ui-icon-pencil" action="#{proprietarioMB.exibirProprietario(item)}" />
			</p:column>
			<p:column headerText="Excluir">
				<p:commandButton icon="ui-icon-close" action="#{proprietarioMB.removerProprietario(item)}" update="frm"/>
			</p:column>
		</p:dataTable>
		
		<p:commandButton value="Adicionar" action="#{proprietarioMB.novoProprietario()}"/>
		
    </h:form>
</h:body>
</html>